*, *::before, *::after {
    box-sizing: border-box;
}

.board{
    display: flex;
    flex-direction: row;
    background-color: #eee;
    transition-duration: 400ms;
}

.set-box {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    height: 100vh;
    background-color: #ddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    z-index: 2;
    overflow: auto;
}

.phone {
	font-family: "Akaya Telivigala" , "Noto Serif TC";
	width: 414px;
	height: 736px;
	position: absolute;
	left: 1293px;
    top: 1132px;
}

.phone-box {
    overflow: auto;
    position: relative;
    height: 100vh;
}

.phone-board {
    width: 3000px;
    height: 3000px;
    position: relative;
}

:root {
    --major: #6d5eb1;
    --major80per: rgba(109, 94, 177, .8);
    --minor: #a197ff;
}

canvas {
    display: none;
}

/* 控制板 */

.set {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.set-block {
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.set-block+.set-block {
    margin-top: 4px;
}

.set-block-row+.set-block-row {
    padding-top: 20px;
}

.div-block-2col {
    display: flex;
    flex-direction: row;
}

.set-desc {
    color: #777;
}

/* 模組化 */

.hover {
    opacity: .8;
    transition: 150ms;
    -webkit-transition: 150ms;
    -moz-transition: 150ms;
    -ms-transition: 150ms;
    -o-transition: 150ms;
}

.hover:hover {
    opacity: 1;
}

.round {
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.btn-solid, .btn-empty, .input, .format-li {
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-solid {
    background-color: var(--major);
    border: none;
    padding: 8px;
    color: #fff;
}

.btn-empty {
    background-color: transparent;
    border: 2px solid var(--major);
    padding: 6px;
    color: var(--major);
}

.btn-ml+.btn-ml{
	margin-left: 4px;
}

/* 個別設定 */

.bruce {
    margin-left: 3px;
}

.title {
    font-size: 40px;
    color: var(--major);
}

.input {
    background-color: transparent;
    border: 2px solid var(--major);
    padding: 6px;
    width: 200px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 6px;
    border-radius: 3px;
    outline: none;
    background: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    width:10px;
    height:20px;
    background:var(--major);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
}

.range-text{
    color: #bbb;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    width: 50px;
    height: 20px;
    text-align: right;
    
}

.format-ls {
    display: flex;
    flex-direction: row;
}

.format-ls+.format-ls {
    margin-left: 20px;
}

.format-li {
    padding: 5px;
    background-color: #cfcfcf;
}

.format-li.--click {
    background-color: var(--major);
}

.format-li+.format-li {
    margin-left: 4px;
}

.format-li>img {
    vertical-align: bottom;
    pointer-events: none;
}

input[type="color"] {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-appearance: none;
    border: 2px solid var(--major80per);
    width: 30px;
    height: 30px;
    padding: 3;
    cursor: pointer;
    transition-duration: 150ms;
}

input[type="color"]:hover {
    border-color: var(--major);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: none;
    padding: 0;
}

.size {
    height: 30px;
    width: 64px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-left: 4px;
    border: 2px solid var(--major80per);
    cursor: pointer;
    color: var(--major80per);
    outline: none;
    background: none;
    transition-duration: 150ms;
}

.size:hover {
    border-color: var(--major);
}

/* 確認訊息 */

.check {
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: none;
}

.check-border {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.check-text {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    color: #fff;
}

#Yes {
    background-color: var(--minor);
}

#No {
    border: 2px solid var(--minor);
    color: var(--minor);
}